.greenRec{
	width: 2898.5px;
	height: 134px;
	left: -1618.5px;
	top: 110px;

	background: rgba(51, 182, 57, 0.54);
	margin-bottom: 70px;
	
}

.cartImg{
    width:101px;
    height:101px;
    left: 10px;
    top: 126px;
    margin-top:20px;
    margin-left:20px;
}

.headerFont{
	position:absolute;
	font-size:25px;
	margin-left:50px;
	margin-top:10px;
	margin-bottom:10px;
	top:30px;
}

.font1{
	font-size:42.5px;
	font-weight:bold;
}

.container{
	position:relative;
	display:flex;
	align-items: center;
	margin-left:100px;
}

.trash{
	margin-left:100px;
	margin-rignt:50px;
	width:48px;
	height:62px;
	position:relative;
}

.whiteRec{
	width: 836px;
	height: 123px;
	margin-left: 50px;
	margin-bottom: 50px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px #05B70C;
	border-radius: 20px;
	display:flex;
	flex-direction: column;
}

.itemInfo{
	display:flex;
	align-items:center;
	border-radius: 20px;
}

.cartInfo{
	display:flex;
	flex-direction: column;
	margin-left:40px;
}

.itemImg{
	width:106px;
	height:106px;
	margin:10px;
	border-radius: 20px;
}

.priceFont{
	font-weight:600;
	font-size:15px;
	margin-top:1px;
}

.itemFont{
	margin-top:10px;
	font-size:16px;
	font-weight:regular;
}

.addressFont{
	margin-top:0.5px;
	font-size:13px;
	font-weight:regular;
}

.itemFont,
.priceFont,
.addressFont {
    display: block;
}

.empty{
	margin-top:100px;
	text-align:center;
}

.emptyfont{
	font-weight:medium;
	font-size: 38px;
}
.emptyimg{
	width:183px;
	height:183px;
}

.emptyfont2{
	font-size:29px;
	font-weight:medium;
}
