@charset "UTF-8";

@font-face {
	font-family: "Pretendard-Regular";
	src:
		url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
}

* {
	font-family: "Pretendard-Regular";
	box-sizing: border-box;
}

.title {
	color: #000000;
	text-align: center;
	font-size: 50px; 
}

.container {
	width: 100%;
	text-align: center
}

input {
	border: 2.5px solid #05B70C;
	border-width: 0 0 1px;
	accent-color: #05B70C;
	font-size: 30px; 
}

input:focus {
	outline: none;
}

.checkBoxInput {
	font-size: 30px; 
	transform: scale(2); 
    margin-right: 10px; 
    margin-bottom: 10px;
}


.gap {
	height: 40px;
}

.gap2 {
	height: 10px;
}

.left{
	width: 450px;
	text-align: left;
	margin: auto;
}

.completeBtn {
	width: 500px;
	height: 70px;
	background-color: #05B70C;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 30px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 20px;
}

.checkBtn {
	background-color: #05B70C;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 25px;
}

span {
	font-size: 30px;
}
